#header
  h1 Tailor
  - each file in files
    span(class="legend", style="background-color:#{file.color.hexString()}") #{file.path}
hr
.container
  #tailor
  .clear
script(id="log-row-template", type="text/x-handlebars-template")
  .colmask.row
    .colright
      .col1wrap
        .col1.line
          pre="{{text}}"
      .col2.margin
        pre
script(src="/socket.js")