!!!
html
  head
    title Tailor
    script(src="/socket.io/socket.io.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js")
    link(rel='stylesheet', href="/stylesheets/tailor.css")
  body!= body